.clickbutton {
  width: 100px;
  height: 100px;
  display: inline-block;
  align-self: center; }
  .clickbutton button {
    color: black;
    background-color: #cc0001;
    padding: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center; }
