.game-page
  display: flex
  flex-direction: column
  .game-area
    display: flex
    flex-direction: row
    justify-content: center
    box-sizing: border-box
    height: auto
    width: 100vw
    justify-content: center
    margin-top: 25px
    img
      height: 450px
