.game-page {
  display: flex;
  flex-direction: column; }
  .game-page .game-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    justify-content: center;
    margin-top: 25px; }
    .game-page .game-area img {
      height: 450px; }
      .game-page .game-area img.sprite {
        height: 75px;
        width: auto;
        position: absolute;
        bottom: 35%; }
        .game-page .game-area img.sprite.mario {
          left: 35%; }
        .game-page .game-area img.sprite.luigi {
          left: 60%; }
